{% extends './index.html'  %}

{% block title %}
Dashboard
{% endblock title %}


{% block content %}
<br>
<div class="container bg-white shaddow-md p-5 form-layout">
    <div class="row pb-3 ">
        <h1 class="fw-bold ">Dashboard</h1>
    </div>
    <div class="row">
        <h6 class="text-muted">&nbsp; &nbsp; &nbsp;Welcome {{user}}.</h6>
        <div class="col-3 text-center"><img style="width:100px" src="{{profilePicture.profile_pic.url}}"></div>
        <div class="col-9">
            <br>
            <a href="{% url 'example:user-logout' %}"> Logout </a>
            <br>
            <a href="{% url 'example:profile-management' %}"> Profile-management </a>
        </div>
    </div>
    <hr>
</div>

{% endblock content %}