{% extends './index.html'  %}
{% load crispy_forms_tags %}


{% block title %}
Deletar conta
{% endblock title %}


{% block content %}

<div class="container bg-white shadow-md p-5 form-layout">
    <form autocomplete="off" method="POST">
        {% csrf_token %}
        <p> Do you really want to delete your account?</p>
        <br>
        <a class="btn btn-info" href="{% url 'example:profile-management' %}">Go back</a>
        <br>
        <br>

        <input class="btn btn-danger" href="{% url 'example:delete-conta' %}" value="delete" type="submit"></>
    </form>
</div>
{% endblock content %}