{% extends './index.html'  %}
{% load crispy_forms_tags %}


{% block title %}
My login
{% endblock title %}


{% block content %}


<div class="container bg-white shadow-md border border-3 form-layout mb-3 border-light p-5">
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{form.username|as_crispy_field}}
        <br>
        {{form.password|as_crispy_field}}
        <br>
        <input value="submit" type="submit" class="btn btn-primary">
    </form>
</div>

{% endblock content %}