{% extends './index.html'  %}
{% load crispy_forms_tags %}

{% block title %}
register
{% endblock title %}


{% block content %}
<div class="container bg-white shadow-md border border-3 form-layout mb-3 border-light p-5">
    <h1>Register</h1>
    <br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}

        {{form.username|as_crispy_field}}
        <br>
        {{form.email|as_crispy_field}}
        <br>
        {{form.password1|as_crispy_field}}
        <br>
        {{form.password2|as_crispy_field}}
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>

{% endblock content %}