<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 justify-content-center">

    <a class="navbar-brand main-heading" href="{% url 'example:homepage' %}">

        &nbsp; Homepage

    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>

    </button>


    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">


        <ul class="navbar-nav ml-auto">


            &nbsp; &nbsp; &nbsp;

            {% if not user.is_authenticated %}
            <li class="nav-item">

                <a href="{% url 'example:register' %}">Register</a>

            </li>


            &nbsp; &nbsp; &nbsp;


            <li class="nav-item">

                <a href="{% url 'example:my-login' %}">Login</a>

            </li>


            &nbsp; &nbsp; &nbsp;
            {% else %}
            <li class="nav-item me-3">
                <a href="{% url 'example:dashboard' %}">Dashboard</a>
            </li>

            <li class="nav-item me-3">
                <a href="{% url 'example:profile-management' %}">Profile Management</a>
            </li>

            <li class="nav-item me-3">
                <a href="{% url 'example:user-logout' %}">Logout</a>
            </li>
            {% endif %}


        </ul>


    </div>


</nav>